<%# Available:

  @page.title: Title of Page

  @page.content_markup: Marked up text

  @page.settings['Setting Name']: Any page setting

  @page.assets: Array of uploaded assets for this page

%>

<div id="left">
    <% if @page.parent.nil? %>
    <div class="body body<%= @page.slug %>">
    <% else %>
    <div class="body">
    <% end %>
        <%= @page.content_markup %>
    </div>       
</div>

