<%# Available:

  project.title
  project.subtitle
  project.client
  project.client_url
  project.description_markup
  project.testimonial

%>

<h1><%= @page.title %></h1>

<% @projects.each do |project| %>
    
  <div class="post">
    <h2>
      <%= link_to_project(project.title, project) %>&nbsp;&mdash;&nbsp;
      <%= project.client %>
    </h2>
    <%= project.description_markup %>
  </div>
    
<% end %>
