RewriteEngine On

RewriteRule "^(articles/article|events/event)/(.+)$" "https://blog.cannold.com/$2" [L,R=301]

RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
