<%#  
  flash[:notice] is the specific error message, if there is one.
%>


<h1>Error</h1>

<p>There was a problem sending your message:</p>

<div class="error">
  <p><%= flash[:notice] %></p>
</div>

<p>Click 'Back' in your browser to return to your message and try again.</p>
