<%# Available:

  @status: HTTP status code for error (eg 403, 404, 500, etc).
  @title: short description of the error.
  @msg: long explanation of the error.
%>
<div id="left">
<div class="body">
  <%#= error_logout_link %>
  <h1><%= @title %></h1>
  <p><%= @msg %></p>
</div>
</div>
