<% @articles.first(4).each do |article| %>

<div class="middle<%= article.tags.any? ? article.tags.first.phrase : "" %>">
 <%= link_to("<h2><span class=\"date\">#{ article.publish_on.strftime("%d %b %Y") }:</span> #{article.title}</h2>", @page.url(:action => 'article', :id => article.slug)) %> 
  <%= tag(:p) %>
  <div class="more-share">
    <% content_tag :span, :class => "moreinline" do -%>
    <%= link_to("more", @page.url(:action => 'article', :id => article.slug)) %> <img src="/static/images/arrow.gif" width="13" height="9" alt=" ">
    <% end -%>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_sharing_toolbox"></div>
  </div>
</div>

<% end %>
