---

---
<!-- Page Title ============================================= -->
<section id="page-title">

 <div class="container clearfix">
	<h1>Blog</h1>
	 <span>Our Latest News</span>
		<ol class="breadcrumb">
		 <li><a href="#">Home</a></li>
		 <li class="active">Blog</li>
	  </ol>
 </div>

</section><!-- #page-title end -->

<!-- Content ============================================= -->
<section id="content">

 <div class="content-wrap">

  <div class="container clearfix">
<!-- Posts ============================================= -->
	 <div id="posts">


  {% for post in paginator.posts %}
   <div class="entry clearfix">
			<div class="entry-title">
				<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
			</div>
			<ul class="entry-meta clearfix">
			<li><i class="icon-calendar3"></i>{{ post.date | date: "%b %d, %Y" }}</li>
			<li><a href="#"><i class="icon-user"></i>admin</a></li>
			<li><i class="icon-folder-open"></i> <a href="#">General</a>, <a href="#">Media</a></li>
			<li><a href="blog-single.php#comments"><i class="icon-comments"></i> 13 Comments</a></li>
			<li><a href="#"><i class="icon-camera-retro"></i></a></li>
		</ul>

	  <div class="entry-content">
		{{ post.excerpt }}
		<a href="{{ post.url }}" class="more-link">Read more</a>
	  </div><!--/.entry-content-->
	{% if forloop.last %}{% else %}<div class="separater"></div>{% endif %}
   </div>

{% endfor %}


<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

             </div>
            </div>
					</div><!-- #posts end -->
     </section>
<!--content end-->
