---
layout: default
---



<section id="page-title">

			<div class="container left clearfix">
				<h1>{{ page.title }}</h1>
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li><a href="#">Blog</a></li>
					<li class="active">Blog Single</li>
				</ol>
			</div>

		</section>

		<div class="sidebar topmargin leftmargin nobottommargin">
								<div class="sidebar-widgets-wrap">

									<div class="widget clearfix">

										<h4>Recent Posts</h4>
										<div id="post-list-footer">

											<div class="spost clearfix">
												<div class="entry-image">
													<a href="#" class="nobg"><img src="http://canvashtml-cdn.semicolonweb.com/images/magazine/small/1.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
													</div>
													<ul class="entry-meta">
														<li>10th July 2014</li>
													</ul>
												</div>
											</div>

											<div class="spost clearfix">
												<div class="entry-image">
													<a href="#" class="nobg"><img src="http://canvashtml-cdn.semicolonweb.com/images/magazine/small/2.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
													</div>
													<ul class="entry-meta">
														<li>10th July 2014</li>
													</ul>
												</div>
											</div>

											<div class="spost clearfix">
												<div class="entry-image">
													<a href="#" class="nobg"><img src="http://canvashtml-cdn.semicolonweb.com/images/magazine/small/3.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
													</div>
													<ul class="entry-meta">
														<li>10th July 2014</li>
													</ul>
												</div>
											</div>

										</div>

									</div>

									<div class="widget clearfix">

										<h4>Testimonials</h4>
										<div class="fslider testimonial noborder nopadding noshadow" data-animation="slide" data-arrows="false">
											<div class="flexslider">

											<div class="flex-viewport" style="overflow: hidden; position: relative; height: 172px;"><div class="slider-wrap" style="width: 1000%; transition-duration: 0s; transform: translate3d(-240px, 0px, 0px);"><div class="slide clone" aria-hidden="true" style="width: 240px; margin-right: 0px; float: left; display: block;">
														<div class="testi-image">
															<a href="#"><img src="http://canvashtml-cdn.semicolonweb.com/images/testimonials/1.jpg" alt="Customer Testimonails" draggable="false"></a>
														</div>
														<div class="testi-content">
															<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
															<div class="testi-meta">
																John Doe
																<span>XYZ Inc.</span>
															</div>
														</div>
													</div>
													<div class="slide flex-active-slide" data-thumb-alt="" style="width: 240px; margin-right: 0px; float: left; display: block;">
														<div class="testi-image">
															<a href="#"><img src="http://canvashtml-cdn.semicolonweb.com/images/testimonials/3.jpg" alt="Customer Testimonails" draggable="false"></a>
														</div>
														<div class="testi-content">
															<p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
															<div class="testi-meta">
																Steve Jobs
																<span>Apple Inc.</span>
															</div>
														</div>
													</div>
													<div class="slide" data-thumb-alt="" style="width: 240px; margin-right: 0px; float: left; display: block;">
														<div class="testi-image">
															<a href="#"><img src="http://canvashtml-cdn.semicolonweb.com/images/testimonials/2.jpg" alt="Customer Testimonails" draggable="false"></a>
														</div>
														<div class="testi-content">
															<p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
															<div class="testi-meta">
																Collis Ta'eed
																<span>Envato Inc.</span>
															</div>
														</div>
													</div>
													<div class="slide" data-thumb-alt="" style="width: 240px; margin-right: 0px; float: left; display: block;">
														<div class="testi-image">
															<a href="#"><img src="http://canvashtml-cdn.semicolonweb.com/images/testimonials/1.jpg" alt="Customer Testimonails" draggable="false"></a>
														</div>
														<div class="testi-content">
															<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
															<div class="testi-meta">
																John Doe
																<span>XYZ Inc.</span>
															</div>
														</div>
													</div>
												<div class="slide clone" aria-hidden="true" style="width: 240px; margin-right: 0px; float: left; display: block;">
														<div class="testi-image">
															<a href="#"><img src="http://canvashtml-cdn.semicolonweb.com/images/testimonials/3.jpg" alt="Customer Testimonails" draggable="false"></a>
														</div>
														<div class="testi-content">
															<p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
															<div class="testi-meta">
																Steve Jobs
																<span>Apple Inc.</span>
															</div>
														</div>
													</div></div></div><ol class="flex-control-nav flex-control-paging"><li><a href="#" class="flex-active">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="">3</a></li></ol></div>
										</div>

									</div>

									<div class="widget clearfix">

										<h4>Instagram Photos</h4>
										<div id="instagram-photos" class="instagram-photos masonry-thumbs" data-user="269801886" data-count="16" data-type="user" style="margin-right: -1px; position: relative; height: 0px;"></div>

									</div>



								</div>
							</div>
<br>
<br>
<br>

<div class="entry-content notopmargin">

<div class="divcenter left" style="max-width: 1150px;">
    <p>{{ page.introduction }}</p>

    {{ content }}


</div>
</div>


</section><!-- #content end -->

<br>
<br>
<br>

								<!-- Post Single - Content End -->


								<!-- Post Single - Share
								============================================= -->
								<div class="si-share noborder clearfix">
									<span>Share this Post:</span>
									<div>
										<a href="#" class="social-icon si-borderless si-facebook">
											<i class="icon-facebook"></i>
											<i class="icon-facebook"></i>
										</a>
										<a href="#" class="social-icon si-borderless si-twitter">
											<i class="icon-twitter"></i>
											<i class="icon-twitter"></i>
										</a>
										<a href="#" class="social-icon si-borderless si-pinterest">
											<i class="icon-pinterest"></i>
											<i class="icon-pinterest"></i>
										</a>
										<a href="#" class="social-icon si-borderless si-gplus">
											<i class="icon-gplus"></i>
											<i class="icon-gplus"></i>
										</a>
										<a href="#" class="social-icon si-borderless si-rss">
											<i class="icon-rss"></i>
											<i class="icon-rss"></i>
										</a>
										<a href="#" class="social-icon si-borderless si-email3">
											<i class="icon-email3"></i>
											<i class="icon-email3"></i>
										</a>
									</div>
								</div><!-- Post Single - Share End -->

							</div>
