---
layout: default
---
<section id="page-title">

 <div class="container clearfix" style="font-family: times;">
	<h1>{{ page.title }}</h1>
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#">Blog</a></li>
		<li class="active">Blog Single</li>
	</ol>
 </div>

</section>

<div class="sidebar leftmargin rightmargin rightpadding  bottommargin col_last">

	<div class="sidebar-widgets-wrap">
    <div class="widget">

    	<a class="twitter-timeline" data-width="250" data-height="1200" data-theme="dark" href="https://twitter.com/LeslieCannold">Tweets by LeslieCannold</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>
  </div>
</div>




<section>
	<div class="entry-content notopmargin">

	 <div class="divcenter left" style="max-width: 1150px; font-family: times; font-size: 18px">
		<p>{{ page.introduction }}</p>

	     {{ page.content }}
   </div>
  </div>
</section>


	<!-- Post Single - Share
	============================================= -->
  <section>
	<div class="si-share noborder right clearfix">
		<span>Share this Post:</span>
		<div>
			<a href="#" class="social-icon si-borderless si-facebook">
				<i class="icon-facebook"></i>
				<i class="icon-facebook"></i>
			</a>
			<a href="#" class="social-icon si-borderless si-twitter">
				<i class="icon-twitter"></i>
				<i class="icon-twitter"></i>
			</a>
			<a href="#" class="social-icon si-borderless si-pinterest">
				<i class="icon-pinterest"></i>
				<i class="icon-pinterest"></i>
			</a>
			<a href="#" class="social-icon si-borderless si-gplus">
				<i class="icon-gplus"></i>
				<i class="icon-gplus"></i>
			</a>
			<a href="#" class="social-icon si-borderless si-rss">
				<i class="icon-rss"></i>
				<i class="icon-rss"></i>
			</a>
			<a href="#" class="social-icon si-borderless si-email3">
				<i class="icon-email3"></i>
				<i class="icon-email3"></i>
			</a>
		</div>
	</div><!-- Post Single - Share End -->
</section><!-- #content end -->



								<!-- Post Single - Content End -->
